.test {
    text-align: left;
    color: $white;
}

.test {
    text-align: left;
    color: $blue-multi;
}

.test {
    text-align: left;
    border: 1px $blue solid;
}

.test {
    background: color($color, lighten 10%);
}

.test {
    background-image: svg-load('chevron-left.svg', fill=$color);
}