.test {
	text-align: left;
	color: var(--white);
}

.test {
	text-align: left;
	color: var(--blue-multi);
}

.test {
	text-align: left;
	border: 1px var(--blue) solid;
}

.test {
	background: color(var(--color), lighten 10%);
}

.test {
	background-image: svg-load('chevron-left.svg', fill=var(--color));
}
